// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.row {
    margin-left: 0px;
    margin-right: 0px;
}


.side-sticky{
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.side-sticky a {
    color: #fff;
}

.fa-plus-circle {
    color: $green;
}
.fa-check-circle {
    color: $green;
}
.fa-times-circle {
    color: $red;
}